* {
    padding: 0;
    margin: 0;
    font-family: Century Gothic;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: hwb(48 22% 45% / 0.753);
}

.container {
    text-align: center;
    background-color: white;
    padding: 0px; /* Aumenté el padding para que el contenido tenga más espacio */
    border-radius: 10px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 2px;
}

.form-group h3 {
    margin: 02 px 0;
}

.form-group input {
    width: 100%;
    max-width: 300px;
    padding: 05px; /* Corregí el padding */
    box-sizing: border-box;
    border: 2px solid #747bbd;
    border-radius: 5px;
}

input[type="button"] {
    width: auto; /* Ajustado para que se ajuste al contenido */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    background-color: #747bbd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

input[type="button"]:hover {
    background-color: hsl(185, 36%, 20%);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    text-align: center;
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.R1 {
    width: 200px; /* Ajusta el tamaño según sea necesario */
}

img {
    width: 100%;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.back-link {
    margin-top: 20px;
    display: inline-block;
}

.back-link .button {
    background-color: gray;
}

* {
    padding: 0;
    margin: 0;
    font-family: Century Gothic;
}
.back-link {
    margin-top: 20px;
    display: inline-block;
}

.back-link .button {
    background-color: gray;
}

